@model User

<section style="padding-top: 80px;">
    <div class="adminPanel container pt-4 mt-4 pb-5 mb-5">
        <h2 class="page-title">Admin</h2>
        <div class="row">
            <div class="col-lg-3">
                @await Html.PartialAsync("_accountMenu")
            </div>
            <div class="col-lg-9">
                <div class="page-content my-account__dashboard">
                    <p>
                        Hello <strong>@Model.UserNickname</strong> (not <strong>@Model.UserNickname?</strong> <a href="/user/Logout">Log out</a>)
                    </p>
                    @* <p>
                        From your account dashboard you can view your <a class="unerline-link" href="./account_orders.html">recent orders</a>, manage your <a class="unerline-link" href="./account_edit_address.html">shipping and billing addresses</a>, and <a class="unerline-link" href="./account_edit.html">edit your password and account details.</a>
                    </p> *@
                </div>
            </div>
        </div>
    </div>
</section>