@model User


<section style="padding-top: 80px;">
    <div class="login-register container m-auto py-5 my-5">
        <div class="nav mb-4 justify-content-center" id="login_register">
            <h3 class="nav-item">
                <a class="nav-link nav-link_underscore text-uppercase fs-6 fw-500 active" id="login-tab" href="#tab-item-login">Please login to continue!</a>
            </h3>
        </div>
        <div class="tab-content pt-2" id="login_register_tab_content">
            <div class="tab-pane fade show active" id="tab-item-login">
                <div class="login-form">
                    <form asp-controller="User" asp-action="Login" method="post" name="login-form" class="needs-validation">
                        <span>@Html.ValidationMessage("error")</span>
                        <div class="form-floating mb-3">
                            <input asp-for="UserNickname" class="form-control form-control_gray" placeholder="Nickname *">
                            <label for="UserNickname">Nickname *</label>
                        </div>

                        <div class="pb-3"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="UserPassword" class="form-control form-control_gray" placeholder="Password *">
                            <label for="UserPassword">Password *</label>
                        </div>

                        <div class="d-flex align-items-center mb-3 pb-2">
                            <div class="form-check mb-0">
                                <input name="remember" class="form-check-input form-check-input_fill text-danger"
                                       type="checkbox" value="" id="flexCheckDefault1">
                                <label class="form-check-label text-secondary" for="flexCheckDefault1">
                                    Remember
                                    me
                                </label>
                            </div>
                            <a href="./reset_password.html" class="btn-text ms-auto">Lost password?</a>
                        </div>

                        <button class="fw-500 text-white rounded-0 w-100 text-uppercase" type="submit">Log In</button>

                        <div class="customer-option mt-4 text-center">
                            <span class="text-secondary">No account yet?</span>
                            <a href="/user/register" class="btn-text js-show-register">Create Account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>